body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  padding-top: 54px;
  color: #fff;
  background: url(bg1.jpg) no-repeat center center fixed;
  background-size: cover !important;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
}

h1 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: #e66400;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  text-transform: uppercase;
  color: #e66400;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #e66400;
}

.dev-icons {
  font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
  color: #e66400;
}

.list-inline-item{
color: #fff;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 800;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
  outline-color: #d48a6e;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }
  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }
  #sideNav .navbar-brand .img-profile {
    max-width: 14rem;
    max-height: 14rem;
    border: 0.4rem solid rgba(255, 255, 255, 0.2);
  }
  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }
  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }
  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    background: rgba(0, 0, 0, 0.5) !important;
  }
}

.bg-primary {
  background-color: #c65900 !important;
}

.text-primary {
  color: #5a6369 !important;
}

.text-secundary {
  color: #e66400 !important;
}

.text-tipeado {
  color: rgb(187, 186, 186) !important;
}
.text-tipeado .technology{
  color: #c65900 !important;
  font-style: normal;
}

a {
  color: #e66400;
}

a:hover,
a:focus,
a:active {
  color: #824027;
}

.wrapper {
  /*display: inline-flex;*/
  display: inline-block;
}
.wrapper .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.575);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.911);
}
.wrapper .angular:hover .tooltip,
.wrapper .angular:hover .tooltip:before {
  background: rgb(226, 50, 55);
}
.wrapper .react:hover .tooltip,
.wrapper .react:hover .tooltip:before {
  background: rgb(0, 216, 255);
}
.wrapper .bootstrap:hover .tooltip,
.wrapper .bootstrap:hover .tooltip:before {
  background: rgb(86, 61, 124);
}
.wrapper .javascript:hover .tooltip,
.wrapper .javascript:hover .tooltip:before {
  background: rgb(247, 223, 30);
  color: #000;
}
.wrapper .html:hover .tooltip,
.wrapper .html:hover .tooltip:before {
  background: rgb(228, 79, 38);
}
.wrapper .css:hover .tooltip,
.wrapper .css:hover .tooltip:before {
  background: rgb(21, 114, 182);
}
.wrapper .java:hover .tooltip,
.wrapper .java:hover .tooltip:before {
  background: rgb(214, 120, 57);
}
.wrapper .spring:hover .tooltip,
.wrapper .spring:hover .tooltip:before {
  background: rgb(109, 179, 63);
}
.wrapper .jenkins:hover .tooltip,
.wrapper .jenkins:hover .tooltip:before {
  background: rgb(240, 214, 183);
  color: #000;
}
.wrapper .docker:hover .tooltip,
.wrapper .docker:hover .tooltip:before {
  background: rgb(35, 150, 237);
}
.wrapper .kubernetes:hover .tooltip,
.wrapper .kubernetes:hover .tooltip:before {
  background: rgb(50, 109, 230);
}
.wrapper .aws:hover .tooltip,
.wrapper .aws:hover .tooltip:before {
  background: rgb(224, 147, 59);
  color: rgb(41, 39, 39);
}
.wrapper .gcp:hover .tooltip,
.wrapper .gcp:hover .tooltip:before {
  background: rgb(148, 150, 155);
  color: rgba(0, 0, 0, 0.719);
}
.wrapper .heroku:hover .tooltip,
.wrapper .heroku:hover .tooltip:before {
  background: rgb(78, 51, 155);
}
.wrapper .mongo:hover .tooltip,
.wrapper .mongo:hover .tooltip:before {
  background: rgb(5, 141, 84);
}
.wrapper .postgre:hover .tooltip,
.wrapper .postgre:hover .tooltip:before {
  background: rgb(4, 112, 145);
}
.wrapper .mysql:hover .tooltip,
.wrapper .mysql:hover .tooltip:before {
  background: rgb(33, 146, 180);
}

.wrapper .intellij:hover .tooltip,
.wrapper .intellij:hover .tooltip:before {
  background: #dc3545;
}
.wrapper .visual:hover .tooltip,
.wrapper .visual:hover .tooltip:before {
  background: #007bff;
}
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before {
  background: rgb(158, 158, 158);
}
.wrapper .bitbucket:hover .tooltip,
.wrapper .bitbucket:hover .tooltip:before {
  background: rgb(38, 132, 255);
}
.wrapper .swagger:hover .tooltip,
.wrapper .swagger:hover .tooltip:before {
  background: rgb(73, 163, 43);
}
.wrapper .sketch:hover .tooltip,
.wrapper .sketch:hover .tooltip:before {
  background: #fd7e14;
}
.wrapper .jira:hover .tooltip,
.wrapper .jira:hover .tooltip:before {
  background: rgb(23, 95, 230);
}
.skill {  
  width: 50px;
  height: 50px;
 }